<main>
    <div>
        <h1>Registrate</h1>
        <form action="/api/sessions/register" method="post">
            <input type="text" name="username" placeholder="Ingrese nombre" required>
            <input type="text" name="email" placeholder="Ingrese email" required>
            <input type="password" name="password" placeholder="Ingrese contraseña" required>
            <button type="submit">Enviar</button>
    </div>
</main>