/* Estilo para el mensaje flash (alerta) */
.alert {
    padding: 20px;
    background-color: #f44336;  /* Rojo (puedes cambiarlo por otro color) */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.alert.success {
    background-color: #4CAF50;  /* Verde */
}

.alert.info {
    background-color: #2196F3;  /* Azul */
}

.alert.warning {
    background-color: #ff9800;  /* Naranja */
}

.alert.error {
    background-color: #f44336;  /* Rojo */
}
